* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
   
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.541), rgba(255, 255, 255, 0.541)), url("../img/nuages.jpg");
}

/* nav bar from here */
@keyframes slidingnav {
    from {
        transform: translate(-500px);
    }

    to {
        transform: translate(-330px);
        animation-timing-function: ease-in-out
    }
}

nav {
    width: 40px;
    height: 40px;
    background-color: grey;
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    z-index: 1;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
}



nav>.test {
    margin-top: 150px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    background-color: grey;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
    animation: slidingnav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-size: x-large;
    border-radius: 30px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11);
}

.check:hover {
    font-style: bold;
    color: rgb(255, 255, 255) !important;
}

.check {
    color: 173, 175, 175 !important;
    font-size: large !important;
}


#navbartoggle {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    font-size: x-large;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#toggle {
    display: none;
}

#toggle:checked+.test {
    display: flex;
}

/* to here */

#dmbutton {
    width: 40px;
    height: 40px;
    background-color: grey;
    position: absolute;
    right: 10px;
    top: 60px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    z-index: 1;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
    opacity: 0.7;
}

@keyframes suspension {
    0% {
        transform: scale(1);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    10% {
        transform: scale(1.08);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    50% {
        transform: scale(1.1);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    60% {
        transform: scale(1.02);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    100% {
        transform: scale(1);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }
}

.container-1 {
    transition: all 5s;
    width: 85%;
    height: auto;
    background-image: radial-gradient(rgb(218, 243, 255), rgba(204, 252, 255, 0.438));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    animation: suspension 6s linear 0s infinite;
    z-index: 0;
}

#MyName {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#MyMug {
    background-image: linear-gradient(rgba(180, 246, 255, 0.137), rgba(180, 246, 255, 0.137)), url("../img/melight.PNG");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: rgba(128, 128, 128, 0.459);
    border-style: solid;
    border-width: 1px;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@keyframes mymugtransition {
    0% {
        transform: rotate(0);
        opacity: 0;

    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

#Who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#MyMug-txt {
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

#MyMug:hover {
    background-image: url("../img/Logo.png");
    background-size: 100%, center;
    animation: mymugtransition 0.5s linear;
}

.bubble {
    transform: rotate(90deg);
    position: absolute;
    right: -20px;
    box-shadow: 15px -10px 10px rgba(0, 0, 0, 0.11);
}

.bubble-text {
    background: rgba(128, 128, 128, 0.397);
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 3px;
    width: 90px;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble-text>p {
    width: 80px;
    transform: rotate(-90deg);
    color: #000000;
}

.bubble-text::after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 30px solid rgba(128, 128, 128, 0.397);
    position: absolute;
    margin-left: 70px;
    margin-top: 140px;
}

h1 {
    color: rgb(128, 128, 128);
    text-align: center;
}

h2 {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    font-size: 3vw;
    color: grey;
}

h3 {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 2.5vw;
    color: grey;
}

hr {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgb(255, 255, 255);
}

.slash {
    width: 65%;
    color: rgba(128, 128, 128, 0.459);
}

#slashMug {
    width: 65%;
}

#contact {
    margin-top: 20px;
    color: grey;
    font-size: 3vw;
    display: flex;
    flex-direction: row;
}

#contact>div>p {
    margin-bottom: 10px;
}

#contact>div>p>a {
    color: grey;
}

#icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: 5px;
}

#icons>i {
    margin: 6px;
    font-size: 3vw;
}

.contacticons {
    margin: 4px;
    width: 15px;
    opacity: 50%;
}

#formation {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: grey;
    font-size: x-small;
}

.simplon {
    background-image: url("../img/logo-simplon.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
}

.armatis {
    background-image: url("../img/armatis.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
}

#CFDT {
    background-image: url("../img/cfdt_logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
}

#Branly {
    background-image: url("../img/Branly.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
}

.makma {
    background-image: url("../img/Makma.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
}

.Talk {
    background-image: url("../img/Talk.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
}

.LPClerc {
    background-image: url("../img/LPClerc.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
}

#XP {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: grey;
    font-size: x-small;
}

#Competences {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: grey;
    font-size: x-small;
}

#freetime {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: grey;
    font-size: x-small;
}

#freetime>div {
    display: flex;
    flex-direction: row;
}

.d-block {
    display: block !important
}

.w-100 {
    top: 0px;
    width: 85%;
}

#carouselExampleIndicators {
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#carouselExampleIndicators2 {
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#carouselExampleIndicators3 {
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#carouselExampleIndicators button {
    margin-top: 50px;
    width: 100px;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 280px;
}

.carousel-item {
    position: relative;
    display: none;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    color: #000000;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.active.carousel-item-right,
.carousel-item-next {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .active.carousel-item-right,
    .carousel-item-next {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.active.carousel-item-left,
.carousel-item-prev {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .active.carousel-item-left,
    .carousel-item-prev {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    width: 30px;
    height: 30px;
    color: #000000;
    text-align: center;
    font-size: x-small;
    opacity: 50%;
    background-color: #ffffff2c;
    border: none;
    border-radius: 50%;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #000000;
    text-decoration: none;
    outline: 0;
    opacity: 50%
}

.carousel-control-prev {
    left: 10px !important
}

.carousel-control-next {
    right: 10px !important
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%33333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    right: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%33333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators {
    width: 200px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators>button {
    margin: 15px;
    width: 5%;

}

carousel-con .carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, .5)
}



.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators .active {
    background-color: #000000
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

.skillz1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skillzblock {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80% !important;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff50;
    border-radius: 10px;
}

.skillzblock>img {
    transition: 0.5s;
    margin: 10px;
    width: 25px;
}

.skillzelse {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.skillzicon:hover {
    transform: scale(4);
    transition: 0.5s;
}

.passionsicon {
    width: 50px;
    filter: opacity(50%);
    margin: 10px;
}

.passionsicon:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

#wotido {
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.diplome,
.où {
    width: 100px;
    height: 80px;
    margin: 20px;
    background-color: #ffffff50;
    border: solid, #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: 2vw;
}

.diplome>p {
    margin: 0px;
}

.dark-mode-bg {
    transition: transform 1s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url("../img/blood.png"), url("../img/metal.jpg");
}

.dark-mode-bg>#dmbutton {
    filter: invert(100%);
    box-shadow: none;
}

.dark-mode-bg>.container-1 {
    transition: all 5s;
    background-image: radial-gradient(rgb(59, 6, 6), rgba(0, 6, 7, 0.438));
}

.dark-mode-bg>.container-1>#Who>#MyMug-txt>#MyMug {
    background-image: linear-gradient(rgba(0, 0, 0, 0.137), rgba(0, 0, 0, 0.137)), url("../img/medark.png");
    background-size: cover;
}

.dark-mode-bg>.container-1>#Who>#MyMug-txt>#MyMug:hover {
    background-image: url("../img/23926567_1755436874469509_8534264881538347123_o.png");
}

.dark-mode-bg>.container-1>#Who>#MyMug-txt>.bubble>.bubble-text>p {
    color: white;
}

.dark-mode-bg>.container-1>#contact>#icons>i {
    filter: invert(100%);
}

.dark-mode-bg>.container-1>#freetime>#wotido>:nth-child(1) {
    filter: invert(50%);
}

.dark-mode-bg>.container-1>#freetime>#wotido>:nth-child(2) {
    filter: invert(50%);
}

.dark-mode-bg>.container-1>#freetime>#wotido>:nth-child(3) {
    filter: invert(50%);
}

.dark-mode-bg>.container-1>#freetime>#wotido>:nth-child(4) {
    filter: invert(50%);
}

.dark-mode-bg>.container-1>#freetime>#wotido>:nth-child(6) {
    filter: invert(50%);
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
}

footer>p {
    margin-bottom: -20px;
    text-shadow: grey 2px 2px;
}

#logoDII {
    width: 15%;
    margin-bottom: 0;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 20px auto;
    border: 1px solid #999;
    width: 80%;
}

span {
    color: #666;
    display: block;
    padding: 0 0 5px;
}

form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: rgb(204, 204, 204);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label.button {
    background: none;
    border-top: none;
    outline: none;
    border-right: none;
    border-left: none;
    padding: 0 0 3px 0;
    font-size: 16px;
    cursor: pointer;
}

label.button:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
}

.passionsimg {
    width: 100%;
    border-radius: 10px;
}

@media (min-width:768px) {

    .container-1 {
        height: 80%;
        justify-content: space-around;
    }

    @keyframes slidingnav {
        from {
            transform: translate(-1000px);
        }

        to {
            transform: translate(-720px);
            animation-timing-function: ease-in-out
        }
    }

    h2 {
        font-size: 3vw;
        margin-top: 40px;
    }

    #MyMug {
        width: 300px;
        height: 300px;
    }

    .bubble {
        bottom: 45%;
        right: -45px;
    }

    .bubble-text {
        padding: 7px 15px;
        font-size: 2.5vw;
        width: 200px;
        height: 250px;
    }

    .bubble-text>p {
        width: 200px;
        transform: rotate(-90deg);
    }

    .bubble-text::after {
        position: absolute;
        margin-left: 70px;
        margin-top: 294px;
    }

    #formation {
        width: 400px;
        height: 400px;
    }

    .carousel-inner {
        width: 400px;
        height: 400px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 100px;
        height: 100px;
        bottom: 40px;
    }

    .skillzblock {
        margin-top: 20px;
        width: 350px;
        height: 150px;
    }

    .skillzelse {
        width: 350px;
    }

    .skillzicon {
        width: 20px;
    }

    #carouselExampleIndicators3 {
        width: 600px;
    }

    footer>p {
        font-size: 3vw;
        margin-bottom: -50px;
    }

}

@media (min-width:1280px) {

    .container-1 {
        flex-direction: row;
    }

    @keyframes slidingnav {
        from {
            transform: translate(-2000px);
        }

        to {
            transform: translate(-1000px);
            animation-timing-function: ease-in-out
        }
    }

    .test {
        margin-top: -20px !important;
        display: flex;
        flex-direction: row !important;
        height: 100px !important;
        width: 1000px !important;
    }

    .test>hr {
        visibility: hidden;
    }



    #MyMug {
        width: 300px;
        height: 300px;
    }

    h1 {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 2vw;
    }

    .slash {
        height: 300px;
        width: 1px;
    }

    #slashMug {
        width: 65% !important;
        height: 1px !important;
    }

    #contact>div>p {
        font-size: 2vw;
    }


    .bubble {
        bottom: 50%;
        right: 70%;
        transform: none;
    }

    .bubble-text {
        padding: 7px 15px;
        font-size: 2.5vw;
        width: 400px;
        height: 100px;
    }

    .bubble-text>p {
        width: 400px;
        height: 100px;
        transform: none;
        font-size: 1vw;
    }

    .bubble-text::after {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        margin-left: 0px;
        margin-top: 143px;
        transform: rotate(0deg)
    }

    #icons>i {
        font-size: 2.2vw;
        margin: 6px;
    }

    .carousel-item {
        flex-direction: column;
    }

    .carousel-control-prev {
        left: 50% !important
    }

    .carousel-control-next,
    .carousel-control-prev {
        bottom: 30%;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 100px;
    }

    h3 {
        font-size: 1.5vw;
    }

    .diplome,
    .où {
        width: 200px;
        height: 200px;
        font-size: 1.5vw;
    }

    .skillzblock {
        width: 400px;
        height: 300px;
    }

    .skillzicon {
        width: 50px !important;
    }

    #carouselExampleIndicators3>.carousel-inner {
        margin-left: 100px;
        width: 300px;
        height: 400px;
    }

    #carouselExampleIndicators3 {
        height: 400px;
    }

    .carousel-item {
        height: 400px;
        width: 400px;
    }

    .passionsimg {
        width: 60%;
    }

    .passionsicon {
        width: 80px;
    }

    #modalFour>.modal-content>.contact-form>form>img {
        width: 40% !important;
    }

    footer {
        height: 100px;
    }

    footer>p {
        font-size: 2vw;
    }

    #logoDII {
        width: 7%;
        margin-bottom: -5px;
    }
}