* {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav bar from here */
@keyframes slidingnav {
    from {
        transform: translate(-500px);
    }

    to {
        transform: translate(-330px);
        animation-timing-function: ease-in-out
    }
}

nav {
    width: 40px;
    height: 40px;
    background-color: grey;
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    z-index: 1;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
}



nav>.test {
    margin-top: 150px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    background-color: grey;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
    animation: slidingnav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-size: x-large;
    border-radius: 30px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11);
}

nav>.test>img {
    width: 75%;
}

nav>.test>a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 50%;
}

nav>.test>a:hover {
    color: rgb(173, 175, 175);
}

nav>.test>div>a {
    margin: 10px;
    color: rgb(255, 255, 255);
}

label {
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#toggle {
    display: none;
}

#toggle:checked+.test {
    display: flex;
}

/* to here */


@keyframes suspension {
    0% {
        transform: scale(1);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    10% {
        transform: scale(1.08);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    50% {
        transform: scale(1.1);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    60% {
        transform: scale(1.02);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    100% {
        transform: scale(1);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }
}

.container-1 {
    width: 75%;
    height: auto;
    background-image: radial-gradient(rgb(218, 243, 255), rgba(204, 252, 255, 0.438));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    animation: suspension 6s linear 0s infinite;
    z-index: 0;
}

#MyName {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#MyMug {
    background-image: url("../img/melight.PNG");
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: rgba(128, 128, 128, 0.459);
    border-style: solid;
    border-width: 1px;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes mymugtransition {
    0% {
        transform: rotate(0);
        opacity: 0;
        width: 0%;

    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        width:100%;
    }
}

#MyMug:hover {
    background-image: url("../img/Logo.png");
    background-size: 100%, center;
    animation: mymugtransition 0.5s linear;
}

h1 {
    color: rgb(128, 128, 128);
    text-align: center;
}

h6 {
    text-align: center;
}

hr {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgb(255, 255, 255);
}

.slash {
    width: 65%;
    color: rgba(128, 128, 128, 0.459);
}

#contact {
    margin-top: 20px;
    color: grey;
    font-size: x-small;
    display: flex;
    flex-direction: row;
}

#contact>div>p {
    margin-bottom: 10px;
}

#contact>div>p>a {
    color: grey;
}

#icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: 5px;
}

.contacticons {
    margin: 4px;
    max-width: 15px;
    opacity: 50%;
}

#icons>:nth-child(1) {
    width: 10px;
}

#formation {
    display: none;
    margin-top: 20px;
    color: grey;
    font-size: x-small;
    flex-direction: row;
}

