* {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav bar from here */
@keyframes slidingnav {
    from {
        transform: translate(-500px);
    }

    to {
        transform: translate(-330px);
        animation-timing-function: ease-in-out
    }
}

nav {
    width: 40px;
    height: 40px;
    background-color: grey;
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    z-index: 1;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
}



nav>.test {
    margin-top: 150px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    background-color: grey;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
    animation: slidingnav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-size: x-large;
    border-radius: 30px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11);
}

nav>.test>img {
    width: 75%;
}

nav>.test>a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 50%;
}

nav>.test>a:hover {
    color: rgb(173, 175, 175);
}

nav>.test>div>a {
    margin: 10px;
    color: rgb(255, 255, 255);
}

label {
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#toggle {
    display: none;
}

#toggle:checked+.test {
    display: flex;
}

/* to here */


@keyframes suspension {
    0% {
        transform: scale(1);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    10% {
        transform: scale(1.08);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    50% {
        transform: scale(1.1);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    60% {
        transform: scale(1.02);
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.11),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }

    100% {
        transform: scale(1);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336),
            inset 2px 3px 5px rgba(0, 0, 0, 0.3),
            inset -2px -3px 5px rgb(255, 255, 255);
        ;
    }
}

.container-1 {
    width: 75%;
    height: auto;
    background-image: radial-gradient(rgb(218, 243, 255), rgba(204, 252, 255, 0.438));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    animation: suspension 6s linear 0s infinite;
    z-index: 0;
}

#MyName {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#MyMug {
    background-image: linear-gradient(rgba(180, 246, 255, 0.137), rgba(180, 246, 255, 0.137)), url("../img/melight.PNG");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: rgba(128, 128, 128, 0.459);
    border-style: solid;
    border-width: 1px;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes mymugtransition {
    0% {
        transform: rotate(0);
        opacity: 0;
        width: 0%;

    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        width: 100%;
    }
}

#MyMug:hover {
    background-image: url("../img/Logo.png");
    background-size: 100%, center;
    animation: mymugtransition 0.5s linear;
}

h1 {
    color: rgb(128, 128, 128);
    text-align: center;
}

h5 {
    margin-top: 15px;
    text-align: center;
}

hr {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgb(255, 255, 255);
}

.slash {
    width: 65%;
    color: rgba(128, 128, 128, 0.459);
}

#contact {
    margin-top: 20px;
    color: grey;
    font-size: x-small;
    display: flex;
    flex-direction: row;
}

#contact>div>p {
    margin-bottom: 10px;
}

#contact>div>p>a {
    color: grey;
}

#icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: 5px;
}

.contacticons {
    margin: 4px;
    max-width: 15px;
    opacity: 50%;
}

#icons>:nth-child(1) {
    width: 10px;
}

#formation {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: grey;
    font-size: x-small;
}

.simplon {
    background-image: url("../img/logo-simplon.png");
    background-size: cover;
    height: 150px;
}

.armatis {
    background-image: url("../img/armatis.png");
    background-size:cover;
    height: 150px;
}

#CFDT {
    background-image: url("../img/cfdt_logo.png");
    background-size: cover;
    height: 150px;
}

#Branly {
    background-image: url("../img/Branly.png");
    background-size: contain;
    height: 150px;
}

#XP {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: grey;
    font-size: x-small;
}

.d-block {
    display: block !important
}

.w-100 {
    top: 0px;
    width: 85%;
}

#carouselExampleIndicators {
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#carouselExampleIndicators button {
    margin-top: 150px;
    width: 100px;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.carousel-item {
    position: relative;
    display: none;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    color: #000000;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.active.carousel-item-right,
.carousel-item-next {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .active.carousel-item-right,
    .carousel-item-next {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.active.carousel-item-left,
.carousel-item-prev {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .active.carousel-item-left,
    .carousel-item-prev {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    width: 15%;
    height: 50px;
    color: #000000;
    text-align: center;
    font-size: x-small;
    opacity: 50%;
    background-color: #ffffff2c;
    border: none;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #000000;
    text-decoration: none;
    outline: 0;
    opacity: 50%
}

.carousel-control-prev {
    left: 0 !important
}

.carousel-control-next {
    right: 0 !important
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%33333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    right: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%33333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators {
    width: 200px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators>button {
    margin: 15px;
    width: 5%;

}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, .5)
}



.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators .active {
    background-color: #000000
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

.diplome {
    width: 50%;
    height: 50%;
    margin: 20px;
    background-color: #ffffff50;
    border: solid, #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.où {
    margin: 20px;
    height: 50%;
    width: 50%;
    background-color: #ffffff50;
    display: flex;
    justify-content: center;
    align-items: center;

}